<form action="/answer" data-turbo="false">
  <label for="ask">Ask your coach anything:</label>
  <div>
    <input type="text" name="question" value="<%= params[:question] %>">
    <button type="submit">Ask!</button>
  </div>
</form>
